
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PkiExtension/.vs/*
library/PkiExtension/PkiExtension/bin/*
library/PkiExtension/PkiExtension/obj/*

# ignore PowerShell Studio MetaData
PkiExtension/PkiExtension.psproj
PkiExtension/PkiExtension.psproj.bak
PkiExtension/PkiExtension.psprojs
PkiExtension/PkiExtension.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*